button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}
button:hover {
    background: black;
    color: white;
    transition: 0.5s;
}
.characters {
    display: flex;
    justify-content: center;
}
.characters__wrap {
    width: 1110px;
}
.characters__functions {
    display: flex;
    justify-content: space-around;
}
.characters__pagination {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.characters__filter {
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.filter>li:hover .filter__menu {
    display: block;
}
.filter__menu {
    display: none;
    width: 100px;
    height: 85px;
    position: absolute;
    background: cadetblue;
    color: white;
    top: 140px;
    border-radius: 6px;
}
.characters__display {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.characters__item {
    margin-top: 20px;
    padding: 5px;
    border-bottom: solid cadetblue 4px;
}
.characters__item h4 {
    text-align: center;
}
.characters__button {
    display: flex;
    justify-content: center;
}
.characters__item button {
    background: black;
    color: white;
}
.characters__item button:hover {
    background: cadetblue;
}